body{
    background: fixed;
    background-image: url(../IMAGES/swiggy4.png);
    object-fit: contain;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
}
.navbar-brand{
    text-shadow: 0px 1px 0px;
    color:#FFA500;
    letter-spacing: 2px;
    
}
.color{

    background-color:black!important;
}
.color1{
    color:antiquewhite !important;
}